<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="content">

    <p>Welcome to <%= title %></p>
  <p>OK. We're going to rename everything we find in the following location:
  </p>
   <h3><%= folderPath %></h3>
   <p>And we're going to add the following people as participants in the shoot in the MongoDB database:
   </p>


   <div class="a_form">
       <form action="/rename/confirm_rename" method="post">
         <fieldset>
         <legend>Confirm People</legend>
           <p>
             check a box for each person you recognize:
           </p>
           <% for (var i = 0; i < people.length; i++) { %>
             <div>
               <input type="checkbox" id=
               <%=people[i] %>
               name="people"
               value=
               <%=people[i] %>
               checked>
               <label for=
               <%=people[i] %>
               >
               <%=people[i] %>
               </label>
             </div>
          <% } %>
        </fieldset>
      <br/>
        <fieldset>
          <legend>Confirm Path</legend>
          <input type="checkbox" checked id="folderPath" name="folderPath" value=
          <%= folderPath %>
           />
          <label><%= folderPath %></label>
        </fieldset>
      <br/>
        <fieldset>
          <button type="submit" name="confirmation" value="yes">Yes</button>
          <button type="submit" name="confirmation" value="no">Try Again</button>
        </fieldset>
    </form>
  </div>

<% include ../partials/foot.ejs %>
