<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <h1><%= title %></h1>
      <p>
        Welcome to <%= title %>
      </p>
      <p>
        here are the shoots currently in the database.
      </p>
      <ul>
        <% for (i=0; i<moment_list.length; i++ ){ %>
          <li>
            <a href =
              <%= ("/database/moment/" + moment_list[i]._id) %>
            >
              <%= (moment_list[i].shootId) + " from " + moment_list[i].inPoint
                  + " to " + moment_list[i].outPoint %>
            </a>
            <%= " (" + moment_list[i].description + ")" %>
          </li>
        <%  }  %>
      </ul>
    </div>
    <% include ../partials/foot %>
