<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
      <div class = "container">
        <p>Welcome to <%= title %></p>
        <p>
          Let's update the moment then.
        </p>
        <form method="POST" action=
          <%= (theMoment.url + '/update') %>
          >
            <div class="form-group">
              <label> Shoot ID:
              </label>
              <input id="shootId" class="form-control" type="text" name="shootId" value=
                <%- theMoment.shootId %>
               />
              <label> In:
              </label>
              <input id="inPoint" class="form-control" type="text" name="inPoint" value=
                <%- theMoment.inPoint %>
               />
              <label> Out:
              </label>
              <input id="outPoint" class="form-control" type="text"  name="outPoint" value=
                  <%- theMoment.outPoint %>
               />
              <label> Description:
              </label>
              <input id="description" class="form-control" type="text" name="description" value=
                  <%- theMoment.description %>
               />
              <input type="hidden" name="dbId" value=<%- theMoment._id %>>
              <button type="submit">Submit</button>
            </div>
          </form>
      </div>
      <% include ../partials/errors.ejs  %>
<% include ../partials/foot.ejs %>
