<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <p>Welcome to <%= title %></p>
      <p>
        We're going to try to get everything organized here.
      </p>
      <h2>DATA</h2>
      <p>
          <%= JSON.stringify(data, null, 4) %>
      </p>
      <h2>COUNTS</h2>
      <ul>
        <li>Number of people: <%= data.person_count %></li>
        <li>Number of shoots: <%= data.shoot_count %></li>
        <li>Number of segments: <%= data.segment_count %></li>
        <li>Number of moments: <%= data.moment_count %></li>
      </ul>




    </div>
  <% include ../partials/foot.ejs %>
