<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <p>Welcome to <%= title %></p>
    <p>
    Be careful with this one.
    </p>

    <p class="json">
      <%- JSON.stringify(theShoot, null, 4) %>
    </p>


    <p>
      <%= theShoot._id %>
    </p>
    <p>
      <%= theShoot.shootId %>
    </p>
    <p class="fcpxml">
      <%= theShoot.fcpxml %>
    </p>
  <%  if(theShoot.people){ %>
    <p>
      There are
      <%= theShoot.people.length %>
       people for this shoot:
    </p>
    <ol>
      <% for (i=0; i<theShoot.people.length; i++) { %>
        <li>

          <%- theShoot.people [i] %>

        </li>

      <% }} %>
    </ol>
    <p>
      do you want to delete it?
    </p>
    <form method="POST" >
      <form method="POST" action=
      <%- ('/database/shoot/' + theShoot._id + '/delete') %>

      >
      <div class="form-group">
        <label> ShootId:
        </label>
        <input id="shootId" class="form-control" type="text" name="shootId" value=
        <%= theShoot.shootId %>
        />
        <input type="hidden" name="dbId" value=<%- theShoot._id %>>
        <button type="submit">yes</button>
      </div>

    </form>
<% include ../partials/foot.ejs %>
