<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>slack will go here, ultimately</p>
    <p>testing whether this json works?
<%=
        // JSON.stringify(channels, null, 8)
%>
    </p>

    <form action="/slack/history" method="post">
      <fieldset>
        <legend>
          choose your channel
        </legend>
<%
      for (var i = 0; i < channels.length; i++) {
        channels[i]

%>

      <input type="radio" name="channel" value=
<%=(channels[i].id + "." + channels[i].name)

%>
>

<%= channels[i].name

%>


</input>
<br />
<%
      }
%>

      <div>
        <input type="submit" value="OK"</div>
      </fieldset>
    </form>
  </body>
<% include partials/foot %>
